################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/ConsoleApp1/bin/x64/Debug
/ConsoleApp1/obj/x64/Debug
/ConsoleApp1/log4net.dll
/ConsoleApp1/Oracle.DataAccess.dll
/.vs/ConsoleApp1
